<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
test
{% for post in context %}
    <p>Статья: {{post.name}}</p>
    <p>Автор: {{post.author}}</p>
    <p>{{post.text}}</p>
    <p>Дата {{post.date}}</p>
    <p>Теги: {{post.tags}}</p>
    <a href="deletePost/{{ post.id }}">Удалить</a>
{% endfor %}
<br>
<br>
<a href="addPost">Добавить пост</a>
</body>
</html>
</body>
</html>