<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in context %}
    <a href="Post/{{ post.id }}">{{ post.name }}</a> <br>
    <p>Автор: {{post.author}}</p>
    <p>Дата {{post.date}}</p>
    <p>Теги: {{post.tags}}</p>
    <a href="deletePost/{{ post.id }}">Удалить</a><hr>
{% endfor %}
<br>
<br>
<a href="addPost">Добавить пост</a>
</body>
</html>
</body>
</html>